body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    user-select: none;
}

html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    text-shadow: 1px 1px #fafafa, 1px -1px #fafafa, -1px -1px #fafafa, -1px 1px #fafafa;
}
.sui-modal-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; 
    margin:1.5rem
}

.sui-overlay {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    transition: opacity 0.3s;
    visibility: hidden;
}
.sui-overlay .cancel {
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: default;
}
.sui-overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.sui-modal {
    margin:0.1rem;
    padding: 13px;
    background: rgb(222, 241, 250);
    border: 1px solid #666;
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    position: relative;
}

.sui-modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin:1.5rem 1.5rem 0rem 0.9rem;
    bottom: 0%;
   

}
.sui-h2 {
   
    margin:0px;
    padding-bottom: 0px;
    padding-left: 0.8rem;
    margin-block-start: 0;
    margin-inline-start: 0;
}
    
.sui-close-x {
    position: absolute;
    padding: 0rem 0.5rem;
    top: 10px;
    right: 10px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}
.sui-close-x:hover {
    opacity: 1;
}


button {
    width: -webkit-fill-available;
    height: 100%;
    font-size: 15px;
    line-height: 1.2;
    padding: 0.3125rem;
    background-color: #79a8db;
    border: 2px solid #2773c0;
    color:#111872;
    appearance: none;
    border-radius: 0.25rem;

}
button:hover, button:focus {
    opacity: 0.9;
    color: rgb(12, 64, 104);
    background-color: #abc3dd;
    border: 3px solid #71a4d6;

}

.sui-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0.5rem;
    padding-right: 0%;
}

.sui-box-footer {
    display: flex;
    flex-direction: row;

}




@media (min-width:280px){ /*galaxy fold*/
    
    
    

}

@media (min-width:414px) {
    .sui-modal {
        margin:0.8rem; 
     
    }
    
}




@media (min-width:1200px){
    .sui-modal {
        margin:5rem; 
     
    }
   

}






    